.frst_button{
border-radius:30px;
line-height:40px;
width: 157px;
background-color: #CB712100;
font-weight:600;
color: rgb(80, 68, 68);
border: 3px solid  #1F212D;
color: #1F212D;
}
.frst_button:hover{
    background-color:#1F212D;
    color: white;
}
.parallax {
    background-image: url("https://static01.nyt.com/images/2019/11/05/science/28TB-SUNSET1/merlin_163473282_fe17fc6b-78b6-4cdd-b301-6f63e6ebdd7a-superJumbo.jpg");
    height:90vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.partner-img{
    filter: grayscale(100);
    transition: all .3s ease;
}

.partner-img:hover{
    filter: none;
    transform: scale(1.1);
}
.txt_color_4{
    text-align:center;
     color:#414C63;
     max-width:90%;
}
.txt_color_5{
    text-align:center;
     max-width:90%;
    color:#444450;
}
  