.frst_button{
border-radius:30px;
line-height:40px;
width: 157px;
background-color: #CB712100;
font-weight:600;
color: rgb(80, 68, 68);
border: 3px solid  #1F212D;
color: #1F212D;
}
.frst_button:hover{
    background-color:#1F212D;
    color: white;
}
.parallax {
    background-image: url("https://static01.nyt.com/images/2019/11/05/science/28TB-SUNSET1/merlin_163473282_fe17fc6b-78b6-4cdd-b301-6f63e6ebdd7a-superJumbo.jpg");
    height:90vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.all_part_mr_top{
    margin-top: 120px;
}
.h2_txt_header{
    color:#5B5D5C;
    text-align:center;
}
.p_txt{
    color: #747b83;
    text-align:center;
}
.partner-img{
    filter: grayscale(100);
    transition: all .3s ease;
}

.partner-img:hover{
    filter: none;
    transform: scale(1.1);
}
.txt_color_4{
    text-align:center;
     color:#414C63;
     max-width:90%;
}
.txt_color_5{
    text-align:center;
     max-width:90%;
    color:#444450;
}
  .image_decoration{
    height:252px;
    width:336px;
    margin-top: 30px;
  }
  .image_decoration:hover{
    transform:scaleY(1.1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .image_overlay_1{
    position: relative;
}
  .img_ovrly_1{
    /* position: absolute;
    bottom: 0;
    opacity: 0;
    background-color: orange;
    height: 60px;
    width: 100%;
    transition: all ease-in-out 0.3s;
    font-size:20px;
    color: white; */
    opacity: 0;
    position: absolute;
    left: 0px;
    right: 20px;
    bottom: 0px;
    transition: all ease-in-out 0.3s;
    background: #ffc107;
    background-color: rgb(255, 193, 7);
    padding: 5px 20px;
    color: white;
    
  }
  .image_overlay_1:hover .img_ovrly_1 {
    opacity: 1;
  }
  .caard_image{
      height:250px;
      width: 336px;
        
  }
  .fnt_awsm_decoration{
      padding-right:20px;
      text-decoration:none;
     
  }

  .image_overlay{
      position: relative;
  }
  .img_ovrly{
      position: absolute;
      bottom: 0;
      opacity: 0;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.85);
      filter: grayscale(100);
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:20px;
      color: #414C63;
  }
  .image_overlay:hover .img_ovrly {
    opacity: 1;
  }
  .crd_tittl_dcrtion{
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 18px;
    color: #414c64;
    text-align: center;
  }
  .crd_subtittl_dcrtion{
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #aaaaaa;
    text-align: center;
  }

.portfolio-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.portfolio-nav ul li a{
    display: block;
    padding: 5px 40px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
    margin-right: 8px;
}

.portfolio-nav ul li a:hover, .portfolio-nav .active{
    background-color: orange;
    color: white;
}
.last_button{
  border-radius:30px;
line-height:40px;
width: 157px;
background-color: #FFCF4F;
color: rgb(80, 68, 68);
border: 3px solid  #FFCF4F;
color: white;
}
.heiight{
  height:45px;
}