.frst_button{
border-radius:30px;
line-height:40px;
width: 157px;
background-color: #CB712100;
font-weight:600;
color: rgb(80, 68, 68);
border: 3px solid  #1F212D;
color: #1F212D;
}
.frst_button:hover{
    background-color:#1F212D;
    color: white;
}
.parallax {
    background-image: url("https://static01.nyt.com/images/2019/11/05/science/28TB-SUNSET1/merlin_163473282_fe17fc6b-78b6-4cdd-b301-6f63e6ebdd7a-superJumbo.jpg");
    height:90vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.all_part_mr_top{
    margin-top: 100px;
}
.h2_txt_header{
    color:#5B5D5C;
    text-align:center;
}
.p_txt{
    color: #747b83;
    text-align:center;
}
.partner-img{
    filter: grayscale(100);
    transition: all .3s ease;
}

.partner-img:hover{
    filter: none;
    transform: scale(1.1);
}
.txt_color_4{
    text-align:center;
     color:#414C63;
     max-width:90%;
}
.txt_color_5{
    text-align:center;
     max-width:90%;
    color:#444450;
}
  .image_decoration{
    height:252px;
    width:336px;
    margin-top: 30px;
  }
  .image_decoration:hover{
    transform:scaleY(1.1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .caard_image{
      height:250px;
      width: 336px;
      margin-top:-16px;
      margin-left: -16px;
      
  }
  .fnt_awsm_decoration{
      padding-right:20px;
     
  }